<body>
  <div id="app">
    <input type="text" v-model="nome" >
    <textarea v-model="nome2">

    </textarea>
     {{nome2}}   {{nome}}
    <div id="div_ola" v-if="mostrar_div" >
      Olá Mundo.
      </div>
      <button type="button" v-on:click="mostrar" v-if="!mostrar_div"  />Mostrar</button>
      <button type="button" v-on:click="esconder" v-if="mostrar_div" />Esconder</button>


      <ul>
        <li v-for="(item, index) in lista" :key="index">
           {{item.nome}}
           <input type="text" v-model="item.nome" />
        </li>


      </ul>



  </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script>
var app = new Vue({el: "#app",
       data: {
         mostrar_div: true,
         nome: "Rafael",
         nome2: "Televisão",
         lista: [
            { nome: "Nome 01" },
            { nome: "Nome 02" },
            { nome: "Nome 03" },

         ]
       },
       methods:{
                      
                mostrar(){
                       this.mostrar_div = true;
                },
                esconder(){
                       this.mostrar_div = false;
                }

       }



});

</script>